<h1>Stock list</h1>
<table class= "tables">
<tr>
<th>Title </th>
<th>Band </th>
<th>Year </th>
<th>Stock Level</th>
<th>Cost Price</th>
<th>Price </th>
<th>Markup </th>
<tr/>
<% @albums.each do |album| %>
<tr>
<td><a href="/albums/<%= album.id %>"><%= album.title %></a></td>
<td><a href="/artists/<%= album.artist_id %>"><%= album.find_album_artist_from_id.name %></td>
<td><%= album.year %></td>
<td><%= album.stock_level %></td>
 <td>£<%= album.cost_price %></td>
<td>£<%= album.price %></td>
<td><%= album.album_markup_percentage %>%</td>

</tr>

<% end %>

<table class = "tables">
  <tr>
    <th>Stock Value</th>
  </tr>
  <tr>
    <td>£<%= Album.total_stock_value %></td>
  </tr>

</table>
