


<form action="/artists/new" method="get">
  <input class = "buttons" type="submit" value="New" />

  <h2>List of Artists</h2>
  <table class ="tables">
  <tr>
  <th>Name </th>
  <th>Type </th>
  <th>Albums: </th>

  <tr/>
  <% @artists.each do |artist| %>
  <tr>
  <td><a href="/artists/<%= artist.id %>"><%= artist.name %></a></td>
  <td><%= artist.type %></td>
  <% artist.find_albums_by_artists.each do |album| %>
  <td><a href="/albums/<%= album.id %>"><%= album.title%><% end %></td>

  </tr>
  <% end %>
