<h2>Artist</h2>

<p>Name: <%= @artist.name%></p>
<p><img class = "artistphotos" src="<%= @artist.image%>"></p>
<p>Type: <%= @artist.type%></p>
<p>About: <%= @artist.about%></p>

<form action="/artists/<%= @artist.id %>/edit" method="get">
<input class ="buttons" type="submit" value="Update">
</form>

<form action="/artists/<%= @artist.id %>/delete" method="post">
<input class ="buttons"type="submit" value="delete">
</form>
